.search {
    width: 100vw;
    height: 40vh;
    background-image: url("../common/images/books.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    width: 500px;
    border-radius: 10px;
    border: none;
    height: 40px;
    outline: none;
}
.input:focus {
    border: 2px solid lightgray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}